{__NOLAYOUT__}
<form data-method="post" data-action="{:url('admin/order/saveData')}" data-submit="ajax" data-validate="true" class="form-horizontal">
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">{$data['id']?lang('Edit'):lang('Add')}{:lang('Account')}</h3>
                </div>
                <input type="hidden" name="id" value="{$data.id ?? ''}">
                <div class="modal-body">
                    <div class="modal-body-content">
                        <div class="form-group must">
                            <label class="col-sm-3 control-label">{:lang('Name')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="username" maxlength="8"  placeholder="{:lang('Up_characters',['langth' =>8])}" required value="{$data.username ?? ''}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('hnum')}</label>
                            <div class="col-sm-7">
                                <input type="tel" class="form-control hnum" name="hnum" maxlength="11" placeholder="{:lang('Up_characters',['langth' =>11])}" required value="{$data.hnum ?? ''}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('amount')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control amount" name="amount"  placeholder="订单价格" required value="{$data.price ?? ''}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{:lang('comment')}</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" name="comment" id="comment" placeholder="描述订单信息"  required value="{$data.comment ?? ''}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{:lang('Cancel')}</button>
                    <button type="submit" class="btn btn-primary">{:lang('Save')}</button>
                </div>
            </div>
        </div>
    </div>
</form>